<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ideal.jk.mapper.CoachMapper">
  <resultMap id="BaseResultMap" type="com.ideal.jk.pojo.po.Coach">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="seller_level" jdbcType="INTEGER" property="sellerLevel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from coach
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ideal.jk.pojo.po.Coach">
    insert into coach (id, seller_level)
    values (#{id,jdbcType=BIGINT}, #{sellerLevel,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ideal.jk.pojo.po.Coach">
    update coach
    set seller_level = #{sellerLevel,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, seller_level
    from coach
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, seller_level
    from coach
  </select>
</mapper>